<li [ngClass]="{'list-group-item': true}"
*ngIf="!deleted">
    <div class="infos">
    <p >De <a *ngIf="!exOne" routerLink="/profile/{{commentUserName}}" (click)="onSeeProfile()"><span>{{commentUserName}}</span></a><span *ngIf="exOne">{{commentUserName}}</span>, le {{commentDate | date: 'd LLLL yyyy' | lowercase}} à {{commentDate | date: 'HH:mm' | lowercase}}</p>
    
    <a *ngIf="modified" (click)="onSeeDate()">Modifié</a>
    </div>
    <div *ngIf=!modifying class="comment-view">
        <p>{{initialComment}}</p>
    </div>
    <!--<p>{{i}}</p>-->
    <p *ngIf="seeDate"> Dernière modification  le {{modifDate | date: 'd LLLL yyyy' | lowercase}} à {{modifDate | date: 'HH:mm' | lowercase}}</p>
    <form [formGroup]="modifyForm" *ngIf="!loading && modifying">
        <div class="form-group">
          <label for="comment">Modifier</label>
          <textarea class="form-control" id="comment" formControlName="comment"></textarea>
        </div>
        
        <button class="mr-2" mat-raised-button color="primary" (click)="onMakeModif()">Envoyer</button>
        <!--<p class="text-danger" *ngIf="errorMsg">{{ errorMsg }}</p>-->
        <button mat-raised-button color="primary" (click)="onCancelModif()">Annuler</button>
    </form>
    

    <button class="mr-2" mat-raised-button color="primary" (click)="onWantDelete()" 
    *ngIf="isAuthor && !modifying && !confirm">Effacer</button>
    <button mat-raised-button color="primary" (click)="onModify()" 
    *ngIf="isAuthor && !modifying && !confirm">Modifier</button>

    <p *ngIf="confirm">Etes-vous sûr(e) de vouloir supprimer ce commentaire</p>
    <button class="mr-2"  *ngIf="confirm" mat-raised-button color="primary" (click)="onDelete()">Effacer</button>
    <button *ngIf="confirm" mat-raised-button color="primary" (click)="onCancelDelete()">Annuler</button>
</li>
