li {
    border: solid 1px rgb(155, 171, 225);
    border-radius: 5px;
    list-style-type: none;
    padding: 10px;
    margin: 10px 0px 0px 0px;
    background-color:  rgb(172, 183, 220);
}

.infos {
    display: flex;
    justify-content: space-between;
    p {
        font-weight: 600;
        color: rgb(32, 3, 163);
        
    }
    span {
        font-weight: bold;
    }
}

.comment-view {
    border: solid #b47a7a 1px;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.975);
       
        font-size: 1.1rem;
        padding: 10px;
        margin-bottom: 10px;
        p {
            white-space: pre-line;
        }
}

.list-group-item .moderatedBackground {
    font-size: 1.2rem;
    text-align: center;
    color: rgb(221, 55, 9);
}

/*button {
    background-color: rgb(80, 55, 169);
    padding: 5px 10px 5px 10px;
    color: white;
    border-radius: 15px;
    margin-right: 10px;
    font-size: 1rem;
    box-shadow: none;
    border: none;
}*/