<mat-spinner *ngIf="loading"></mat-spinner>
<h2>Les dernières publications</h2>
<p>Mis à jour : {{ lastUpdate | async | date: 'EEEE d LLLL yyyy'}}</p>
<ul class="list-group">
    <app-publication-list-item  *ngFor="let publication of publications; let i = index"
          [publicationTitle]="publication.title"
          [publicationContent]="publication.content"
          [publicationDate]="publication.date_publication"
          [publicationLikes]="publication.likes"
          [publicationNumberComments]="publication.numberComments"
          [publicationUserName]="publication.userName"
          [index]="i" 
          [id]="publication.id">
    </app-publication-list-item>
</ul>