<div class="container mt-5">
    <div class="row">
      <div class="col-xs-12 mx-auto">
        <h2>Mes publications</h2>
        <p>Mis à jour : {{ lastUpdate | async | date: 'short' | lowercase}}</p>
        <ul class="list-group">
            <app-publication-list-item  *ngFor="let publication of publications"
                              [publicationName]="publication.name"
                              [publicationDate]="publication.date">
                            
                            </app-publication-list-item>
            
          </ul>
          
      </div>
    </div>
