<li [ngClass]="{'list-group-item': true,
                'list-group-item-like': publicationLikes === 1}"
                id="{{id}}">
    <div class="overview">
        <h4 [ngStyle]="{color: ' rgb(82, 105, 183)'}">{{publicationTitle}}</h4>
        <p>Par <a routerLink="/profile/{{publicationUserName}}"><span>{{publicationUserName}}</span></a>, le {{publicationDate | date: 'd LLLL yyyy'}}</p>
        <div class="text-overview">
            <p>{{publicationContent}}</p>
        </div>
    </div>
    <div class="see-it">
        <a [routerLink]="[id]">Voir</a>
        <p>Commentaires : {{publicationNumberComments}}</p>
    </div>
</li>
