.list-group-item {
    border: solid 1px;
    list-style-type: none;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgb(215, 219, 219);
    /*height: 300px;*/
    overflow: hidden;
    p {
        font-style: italic;
        
    }
}

