<mat-spinner *ngIf="loading"></mat-spinner>
<ul class="list-group">
    <app-comment-list-item  *ngFor="let comment of comments; let i = index"
          [commentUserName]="comment.userName"
          [commentContent]="comment.content"
          [commentDate]="comment.date_comment"
          [modifDate]="comment.date_modif"
          [modified]="comment.modified"
          [index]="i" 
          [postId]="comment.postId"
          [pubId]="pubId"
          [id]="comment.id">
    </app-comment-list-item>
    
</ul>
