<div [ngClass]="{'single-publication': true,
'single-publication-like': likes === true
                }" *ngIf="!loading">
    <h4 [ngStyle]="{color: 'purple'}">{{publication?.title}}</h4>
    <p>Publié le {{publication?.date_publication | date: 'EEEE d LLLL yyyy'}}</p>
    <div class="publication-view">
        <p>{{publication?.content}}</p>
    </div>
    <br/>
    <div class="post-buttons">
        <div>
        <button class="btn btn mb-1 mr-2" (click)="onLike()">Like it</button>
        <button class="btn btn mb-1" (click)="onWantComment()">Comment it</button>
        </div>
        <button class="mb-1 text-center btn" routerLink="/publications" *ngIf="fromList">Retour à la liste</button>
        <button class="mb-1 text-center btn" routerLink="/profile/{{fromProfile}}" *ngIf="!fromList">Retour au profil</button>
    </div>
</div>

<!--
<li [ngClass]="{'comment-group-item': true}">
    <div class="see-comments">
        <p>{{username}}</p>
        <p>Date : {{commentDate | date: 'short' | lowercase}}</p>
        <p>{{commentContent}}</p>
    </div>
</li>
-->

<form [formGroup]="commentForm" *ngIf="!loading && commenting">
    <div class="form-group mt-3">
      <label for="comment">Commenter</label>
      <textarea class="form-control" id="comment" formControlName="comment"></textarea>
    </div>
    
    <button mat-raised-button color="purple" [disabled]="commentForm.invalid" (click)="onComment()">Envoyer</button>
    <!--<p class="text-danger" *ngIf="errorMsg">{{ errorMsg }}</p>--> 
    <button mat-raised-button color="purple" (click)="onCancel()">Annuler</button> 
</form>


<app-comment-list [postId]="postId"></app-comment-list>




