<mat-spinner style="margin:0 auto;" class="mx-auto" *ngIf="loading"></mat-spinner>
<p class="text-danger" *ngIf="errorMsg">{{ errorMsg }}</p>
<div [ngClass]="{'single-publication': true,
'single-publication-like': likes === true
                }" *ngIf="!loading">
    <h2 [ngStyle]="{color: 'primary'}">{{title}}</h2>
    <p>Par {{publication?.userName}}</p>
    <p>Publié le {{publication?.date_publication | date: 'EEEE d LLLL yyyy'}}</p>
    <a *ngIf="publication?.modified" (click)="onSeeDate()">Modifié</a>
    <p *ngIf="seeDate"> Dernière modification  le {{publication?.date_modif | date: 'd LLLL yyyy' | lowercase}} à {{publication?.date_modif | date: 'HH:mm' | lowercase}}</p>
    <div *ngIf=!modifying  class="publication-view">
        <p>{{content}}</p>
    </div>
    <form [formGroup]="modifyForm" *ngIf="!loading && modifying">
        <div class="form-group">
            <label for="title">Titre</label>
            <input type="text" class="form-control" id="title" formControlName="title">
          </div>
        <div class="form-group mt-3">
          <label for="publication">Publication</label>
          <textarea pattern="[A-Z\u00C0-\u00D6\u00D8-\u00DF]{0,1}[0-9a-zA-Z\u00C0-\u00D6\u00D8-\u00F6\u00F8-\u024F\n \x22!;?:(),\.\'-]{0,4000}" class="form-control" id="publication" formControlName="publication"></textarea>
        </div>
        <div class="my-2" *ngIf="modifyForm.invalid">Un caractère non autorisé a été saisi ou un champ est vide</div>
        <button *ngIf="!confirm" class="mr-2" mat-raised-button color="primary" (click)="onMakeModif()">Envoyer</button>
        <!--<p class="text-danger" *ngIf="errorMsg">{{ errorMsg }}</p>-->
        <button *ngIf="!confirm" class="mr-2" mat-raised-button color="primary" (click)="onCancelModif()">Annuler</button>
        <button *ngIf="!confirm" class="mr-2" mat-raised-button color="primary" (click)="onWantDelete()">Effacer</button>
        <p *ngIf="confirm">Etes-vous sûr(e) de vouloir supprimer cette publication</p>
        <button *ngIf="confirm" class="mr-2" mat-raised-button color="primary" (click)="onCancelDelete()">Annuler</button>
        <button *ngIf="confirm" mat-raised-button color="primary" (click)="onDelete()">Effacer</button>
        
    </form>
    <br/>
    <div *ngIf="moderator">
      <button *ngIf="!moderated && !isAuthor" mat-raised-button color="accent" class="mr-2 mb-2" (click)="onModerate()">Modérer</button>
      <button *ngIf="moderated && !isAuthor" mat-stroked-button color="accent" class="mb-2" (click)="onModerate()">Rétablir</button>
      
    </div>
    <div *ngIf=!modifying  class="post-buttons">
        <div>
        <button class="btn btn mb-1 mr-2" (click)="onLike()">Like it</button>
        <button class="btn btn mb-1" (click)="onWantComment()">Comment it</button>
        </div>
        <button class="mb-1 mr-0 text-center btn" routerLink="/publications">Retour à la liste</button>
        <button *ngIf="!isAuthor" class="mb-1 text-center btn" routerLink="/profile/{{publication?.userName}}" (click)="onSeeProfile()">Voir profil</button>
        <button *ngIf="isAuthor" class="mb-1 text-center btn" (click)="onWantModify()">Modifier</button>
        
    </div>
</div>

<form [formGroup]="commentForm" *ngIf="!loading && commenting">
    <div class="form-group mt-3">
      <label for="comment">Commenter</label>
      <textarea pattern="[A-Z\u00C0-\u00D6\u00D8-\u00DF ]{0,1}[0-9a-zA-Z\u00C0-\u00D6\u00D8-\u00F6\u00F8-\u024F\n \x22!;?:(),\.\'-]{0,4000}" class="form-control" id="comment" formControlName="comment"></textarea>
    </div>
    <div class="my-2" *ngIf="commentForm.invalid">Un caractère non autorisé a été saisi</div>
    <button class="mr-2" mat-raised-button color="primary" [disabled]="commentForm.invalid" (click)="onComment()">Envoyer</button>
    <!--<p class="text-danger" *ngIf="errorMsg">{{ errorMsg }}</p>--> 
    <button mat-raised-button color="primary" (click)="onCancel()">Annuler</button> 
</form>


<app-comment-list [postId]="postId"></app-comment-list>




