.search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: solid 2px rgb(80, 37, 235);
    margin-bottom: 20px;
}

#window {
   
    padding: 5px 10px 5px 10px;
   
    border: solid 2px rgb(80, 37, 235);
    border-radius: 5px;
    margin-right: 10px;
    font-size: 1rem;
    height: auto;
    :focus {
        border: solid 2px ;
        
        
        color:rgb(169, 55, 144)
    }
}

/*input[type=search] {
    color: rgb(80, 55, 169);
    border-radius: 15px;
    border: solid 2px ;
    padding: 5px 10px 5px 10p;
}*/

.noUser {
    color: red;
}

.show-profile {
    white-space: pre-line;
}